[loggers]
keys=root,system,normal

[handlers]
keys=rootHandler,systemHandler,normalHandler

[formatters]
keys=f1

[logger_root]
level=NOTSET
handlers=rootHandler

[logger_system]
level=INFO
handlers=systemHandler
propagate=0 
qualname=system

[logger_normal]
level=INFO
handlers=normalHandler
propagate=0
qualname=normal

[handler_rootHandler]
class=FileHandler
level=NOTSET
formatter=f1
maxBytes=1024
backupCount=10
args=('root.log',)

[handler_systemHandler]
class=FileHandler
level=INFO
formatter=f1
maxBytes=1024
backupCount=10
args=('system.log',)

[handler_normalHandler]
class=FileHandler
level=INFO
formatter=f1
maxBytes=1024
backupCount=10
args=('normal.log',)

[formatter_f1]
format= %(asctime)s-%(name)s-%(levelname)s-%(message)s
datefmt='%Y-%m-%d %H:%M:%S'
class=logging.Formatter